* {
    box-sizing: border-box;
  }

html {
    background-color: #0b121e;
}

body {
    color: white;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Avenir Next', sans-serif;
}

.footer {
  height: 500px;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-family: 'Patua One', cursive;
    letter-spacing: 2px;
}

.user-input {
    display: block;
    position: relative;
    width: 500px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 500px;
    text-align: center;
}

input[type=text] {
    float:left;
    width: 75%;
    height: 35px;
    background-color: #0b121e;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: solid 2px white;
    color: yellow;
    font-size: 14pt;
    letter-spacing: 2px;
    margin-right: 10px;
}

::placeholder { 
  color: lightgrey;
  letter-spacing: 1px;
}

button {
    float: left;
    width: 20%;
    height: 35px;
    border: solid 2px white;
    color: white;
    background-color: #0b121e;
    font-weight: 900;
    letter-spacing: 2px;
}

.scroll-button {
    width: 100px;
}

.before-scroll {
    display: none;
    position: fixed; 
    bottom: 25px; 
    right: 25px;
}

.afterScroll {
    display: block;
    position: fixed; 
    bottom: 25px; 
    right: 25px;
}

form.example::after {
    clear: both;
    display: table;
}

.location-input {
    width: 100%;
    display: inline-block;
}

#map {
    height: 450px;
    width: 100%;
    margin-bottom: 10px;
}

img {
    max-width: 150px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.article-title {
    font-family: serif;
}

.article-des {
    font-size: 10pt;
}

/* RESPONSIVE GRID CSS */
.row {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 5px;
}

.row::before,
.row::after {
    display: table;
    content: '';
}

.row::after {
    clear: both;
}

.col {
    float: left;
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
    width: 50%;
}

/* Mobile Default */
@media only screen and (max-width: 400px) {

    .col {
        width: 100%;
    }
}